<app-topo></app-topo>

<div *ngIf="jogoEmAndamento; else fimDeJogo ">
    <app-painel (encerrarJogo)="encerrarJogo($event)" [reiniciarJogo]="reiniciarJogo"></app-painel>
</div>
<div class="row pull-right !important" style="margin-left: 120px; margin-top: 20px">
    <ng-template #fimDeJogo>
        <div *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria" class="container" style="margin-top: 50px">
            <div class="row">
                <div class="col">
                    <h3 style="color: red">Fim de jogo, infelizmente você perdeu :S</h3>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #fimDeJogoVitoria>
        <div class="container" style="margin-top: 50px">
            <div class="row">
                <div class="col">
                    <h3 style="color: green">Fim de jogo, você ganhou :D</h3>
                </div>
            </div>
        </div>
    </ng-template>
    <button *ngIf="!jogoEmAndamento"type="button" class="btn btn-primary" (click)="reiniciar()">Reiniciar Jogo</button>
</div>